<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.conker.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="co.conker.android.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.conker.android.HomeScreenActivity"
            android:label="@string/title_activity_home_screen"
            android:parentActivityName="co.conker.android.LoginActivity" >

            <!-- Below xml is needed to support android platforms below 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.conker.android.LoginActivity" />
        </activity>
        <activity
            android:name="co.conker.android.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="co.conker.android.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.conker.android.LoginActivity" />
        </activity>
        <activity
            android:name="co.conker.android.ProjectActivity"
            android:label="@string/title_activity_project"
            android:parentActivityName="co.conker.android.HomeScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.conker.android.HomeScreenActivity" />
        </activity>
    </application>

</manifest>
